<!-- =========== -->
<!--  Body Area  -->
<!-- =========== -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 light-grey-bg" id="light-grey-bg">
    <div class="container nopadding-lt">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="blackwhite-box change-pw col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h4>Change Password</h4>
                    <div class="white-box col-lg-7 col-md-7 col-sm-7 col-xs-9">
                        <h1>Account Settings</h1>

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="field">
                            <%= f.label :username %><br/>
                            <%= f.text_field :username, autofocus: true %>
                        </div>

                        <div class="field">
                            <%= f.label :email %><br/>
                            <%= f.email_field :email, autofocus: true %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for:
                            <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="field">
                            <%= f.label :password %>
                            <i>(leave blank if you don't want to change it)</i><br/>
                            <%= f.password_field :password, autocomplete: "off" %>
                            <% if @minimum_password_length %>
                            <br/>
                            <em><%= @minimum_password_length %>
                                characters minimum</em>
                            <% end %>
                        </div>

                        <div class="field">
                            <%= f.label :password_confirmation %><br/>
                            <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </div>

                        <div class="field">
                            <%= f.label :current_password %>
                            <i>(we need your current password to confirm your changes)</i><br/>
                            <%= f.password_field :current_password, autocomplete: "off" %>
                        </div>

                        <div class="actions">
                            <%= f.submit "Update", class: 'btn-primary' %>
                        </div>
                        <% end %>
                        <!--white-box-->
                    </div>
                    <!--blackwhite-box-->
                </div>
                <!--col-->
            </div>

            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--col-->
</div>
<script src="/mailman-frontend/lib/jquery/jquery-1.12.3.min.js" type="text/javascript"></script>
<script src="/mailman-frontend/lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="/mailman-frontend/js/classie.js" type="text/javascript"></script>
<script src="/mailman-frontend/js/modalEffects.js" type="text/javascript"></script>
<script src="/mailman-frontend/js/search.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        function jqUpdateSize() {
            // Fixed height
            if ($(window).width() > 991) {
                var height = $(window).height();
                alert
                $('#light-grey-bg').css('height', (height - $('header.header').height() - 29));
            } else {
                $('#light-grey-bg').css('height', 'auto');
            }
        };
        jqUpdateSize()
        $(window).resize(function (e) {
            jqUpdateSize()
        });
    });
</script>
