<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
    <div class="blackwhite-box Balance col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Balance</h4>
        <div class="box-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <i class="fa fa-trophy"></i>
            Current Balance</label>
        <p>
            $
            <%= current_user.account.balance %>
        </p>
        <!-- Begin deposit section -->
        <button class="btn-primary btn1" data-toggle="modal" data-target="#depositModal">
            <a href="#">Top up</a>
        </button>

        <!-- Deposit Modal -->
        <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <%= form_tag deposit_handler_path, method: :post, class: '' do %>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Topup Balance</h4>
                    </div>
                    <div class="modal-body">
                      <%= label_tag(:amount, "Amount") %>
                        <%= text_field_tag(
                            :amount,
                            params[:amount],
                            class: "form-control"
                        ) %>
                        <%= label_tag(:method_paypal, "Paypal") %>
                        <%= radio_button_tag(:method, "paypal") %>
                        <% if Rails.env.development? %>
                        <%= label_tag(:method_test, "Test") %>
                        <%= radio_button_tag(:method, "test") %>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= submit_tag("Topup", class: 'btn btn-primary') %>
                    </div>
                    <% end %>

                </div>
            </div>
        </div>

        <!-- End deposit -->
        <!-- Begin withdrawal section -->
        <button class="btn-primary btn1" data-toggle="modal" data-target="#withdrawalModal">
            <a href="#">Withdraw</a>
        </button>

        <!-- Deposit Modal -->
        <div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <%= form_tag withdrawal_handler_path, method: :post, class: '' do %>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Withdraw Balance</h4>
                    </div>
                    <div class="modal-body">
                      <%= label_tag(:amount, "Amount") %>
                        <%= text_field_tag(
                            :amount,
                            params[:amount],
                            class: "form-control"
                        ) %>
                        <%= label_tag(:method_paypal, "Paypal") %>
                        <%= radio_button_tag(:method, "paypal") %>
                        <% if Rails.env.development? %>
                        <%= label_tag(:method_test, "Test") %>
                        <%= radio_button_tag(:method, "test") %>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= submit_tag("Withdraw", class: 'btn btn-primary') %>
                    </div>
                    <% end %>

                </div>
            </div>
        </div>

        <!-- End withdrawal -->
        <!--box-inner-->
    </div>
    <!--blackwhite-box-->
</div>
<!--col-->
</div>
