<div class="conversation">
     <div class="header">
         <%= @conversation.users_except(current_user).username %>
     </div>

     <div class="messages">
         <ul>
           <% @conversation.messages.each do |message| %>
             <li>
                 <span class="message <%= message.sender == current_user ? 'right' : 'left' %>"><%= message.body %></span>
                 <div class="clear"></div>
             </li>
             <% end %>
         </ul>
         <div class="clear"></div>
     </div>

     <div class="input-box">
     <%= form_for @message do |f| %>
     <%= fields_for :conversation do |ff| %>
        <%= ff.hidden_field :id %>
     <% end %>
       <%= f.text_field :body, class: "form-control" %>
       <%= f.button 'Send' %>
     <% end %>
   </div>
 </div>
