<span class="">Inbox</span>
<ul class="pagination pagination-box pull-right">
    <li>
        <a href="#" aria-label="Previous">
            <span aria-hidden="true" class="fa fa-angle-double-left"></span>
        </a>
    </li>
    <li>
        <a href="#" class="fa fa-angle-left"></a>
    </li>
    <li>
        <a href="#" class="fa fa-angle-right"></a>
    </li>
    <li>
        <a href="#" aria-label="Next">
            <span aria-hidden="true" class="fa fa-angle-double-right"></span>
        </a>
    </li>
</ul>
<div class="input-group search-box search-box2 pull-right col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <input type="text" placeholder="Search" class="  search-query form-control">
    <span class="input-group-btn">
        <button type="button" class="btn">
            <span class=" glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<div class="emails col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="emails">
    <div class="conversations-list">
        <ul>
            <% @conversations.each do |conversation| %>
            <li>
                <%= link_to conversation_path(conversation.id) do %>
                <figure class="mail-icon"><%= image_tag 'mail-icon2.png' %></figure>
                <span class="conversation-name"><%= conversation.users_except(current_user).username %></span><br>
                <p>
                  status: <%= conversation.status %>
                </p>
                <div class="pull-right">
                    <% unless conversation.read_by? current_user %>
                    <span class="green-envelope">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <% end %>
                    <%= conversation.messages.last.created_at %>
                </div>
                <div class="conversation-subject">
                    <%= (conversation.subject.length > 8) ? "#{conversation.subject[0,8]}..." : conversation.subject %>
                </div>
                <div class="conversation-prewivew">
                    <%= (conversation.messages.last.body.length > 30) ? "#{conversation.messages.last.body[0,30]}..." : conversation.messages.last.body %>
                </div>
            </a>
        </li>
        <% end %>
        <% end %>
    </ul>
</div>
<!--emails-->
</div>
