<!-- =========== -->
<!-- Header Area -->
<!-- =========== -->
<div class="container">
		<div class="row">
				<header class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="logo pull-left"><a href="index.html"><%= image_tag 'logo-black.png' %></a></div>
						<div class="input-group search-box pull-left col-xs-offset-1 col-lg-3 col-md-3 col-sm-5 col-xs-5">
								<input type="text" class="  search-query form-control" placeholder="Search" />
								<span class="input-group-btn">
								<button class="btn" type="button"> <span class=" glyphicon glyphicon-search"></span> </button>
								</span> </div>
						<nav class="navbar navbar-default pull-right main-navigation">
								<div class="container-fluid">
										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
												<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
										</div>
										<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
												<ul class="nav navbar-nav">
														<li><a href="#">About</a></li>
														<li><a href="#">How it works</a></li>
														<li><a href="#">Security</a></li>
														<li><a href="#">Questions</a></li>
														<li class="login"><a href="#">Login</a></li>
												</ul>
										</div>
								</div>
						</nav>
						<!--header-->
				</header>
<!-- =========== -->
<!--  Body Area  -->
<!-- =========== -->
<div class="content_height">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center paddingbox client-details">
	 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  	<div class="contact-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
	   <figure><%= image_tag 'contact-info1.png' %></figure>
		 Your contact card for the Internet
	  <!--contact-info-->
	  </div>
	 <!--col-->
	 </div>
	 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  	<div class="contact-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
	   <figure><%= image_tag 'contact-info2.png' %></figure>
		 Receive emails and text messages<br> without sharing personal information
	  <!--contact-info-->
	  </div>
	 <!--col-->
	 </div>
	 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  	<div class="contact-info contact-info2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	   <figure><%= image_tag 'contact-info3.png' %></figure>
		Charge senders to send you messages
	  <!--contact-info-->
	  </div>
	 <!--col-->
	 </div>
  	 <div class="client-box col-lg-3 col-md-3 col-sm-5 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img.jpg' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><a href="#"><i class="fa fa-twitter"></i> lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
			<div class="clearfix"></div>
			<div class="btn-primary red-bg col-lg-3 col-md-3 col-sm-5 col-xs-6"><a href="#">Get started for free</a></div>
	<!--col-->
	</div>
	<!--content_height-->
	</div>
 <!--row-->
 </div>
<!--container-->
</div>
<!-- =========== -->
<!-- Footer Area -->
<!-- =========== -->
<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="container">
 <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sitemap">
		<ul>
		 <li><a href="#">About</a></li>
		 <li><a href="#">Security</a></li>
		 <li><a href="#">How it works</a></li>
		 <li><a href="#">Privacy Policy</a></li>
		 <li><a href="#">Questions</a></li>
		 <li><a href="#">Terms &amp; Services</a></li>
		</ul>
   <!--sitemap-->
   </div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 sitemap2">
		<ul>
		 <li><a href="#">Fresh updates & News:</a></li>
		 <li><a href="#"><i class="fa fa-twitter"></i> Follow@mailman</a></li>
		</ul>
   <!--sitemap-->
   </div>
  <!--row-->
  </div>
 <!--container-->
 </div>
<!--footer-->
</div>
