<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name, "First name" %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name, "Last name" %>
  <%= f.text_field :last_name %> <br>

  <%= f.label :about, "About" %>
  <%= f.text_field :about %> <br>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location %> <br>

  <%= f.label :twitter, "Twitter" %>
  <%= f.text_field :twitter %> <br>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
