<div class="ui container">
	<div class="ui center aligned three column collapsable grid">

		<div class="row">
			<div class="column">
				<div class="ui infographic segment">
					<div class="infographic image"><%= image_tag 'contact-info1.png' %></div>
					<div class="ui clearing divider"></div>
					Your contact card for the Internet
				</div>

			</div>

			<div class="column">
				<div class="ui infographic segment">
					<div class="infographic image"><%= image_tag 'contact-info2.png' %></div>
					<div class="ui clearing divider"></div>
					<figcaption>Receive messages without sharing personal information</figcaption>
				</div>
			</div>

			<div class="column">
				<div class="ui infographic segment">
					<div class="infographic image"><%= image_tag 'contact-info3.png' %></div>
					<div class="ui clearing divider"></div>
					<figcaption>Charge people to start a conversation</figcaption>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column">
				<h4>Some already on Mailpenny</h4>
				<%= contact_card_for User.first %>
			</div>
		</div>

		<div class="row">
			<div class="column">
				<a href="<%= new_user_registration_path %>" class="ui button">
					Join</a>
			</div>
		</div>

	</div>
</div>
