<div class="ui container">
    <div class="ui center aligned three column stackable grid">
        <div class="card column">
            <div class="ui card">
                <div class="image">
                    <%= image_tag @profile.avatar.url(:medium), size: '150x150', class: 'img-circle' %>
                </div>
                <div class="content">
                    <a class="header">
                        <%= @profile.name %>
                    </a>
                    <div class="meta">
                        <a href="/<%= @profile.user.username %>">mailpenny.com/<%= @profile.user.username %></a>
                    </div>
                    <div class="description">
                        <span class="title"><%= @profile.work_title %></span>
                        at
                        <span class-"company"><%= @profile.work_company %></span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="mail icon"></i>
                        Start a conversation for $<%= @profile.rate %>
                    </a>
                </div>
            </div>
        </div>
        <div class="description column">
          <div class="content">
            <div class="twitter">
                <i class="twitter icon"></i>
                <%= @profile.twitter_username %>
            </div>
            <div class="personal bio">
                <%= @profile.bio %>
            </div>
            <div class="personal location">
                <i class="marker icon"></i>
                <%= @profile.location %>
            </div>
            <button class="ui button">
              Start a conversation $<%= @profile.rate %>
            </button>
          </div>
        </div>
        <div class="green column">
        </div>
    </div>
</div>
