<h1>Profile</h1>
<ul>
  <li>name: <%= @profile_user.name %></li>
  <li>username: <%= @profile_user.username %></li>
  <li>bio: <%= @profile_user.bio %></li>
  <li>work_company: <%= @profile_user.work_company %></li>
  <li>work_title: <%= @profile_user.work_title %></li>
  <li>location: <%= @profile_user.location %></li>
  <li>twitter_username: <%= @profile_user.twitter_username %></li>
</ul>
