<!-- =========== -->
<!--  Body Area  -->
<!-- =========== -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 light-grey-bg padding20">
 <div class="container">
	<div class="row">
	 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
	  <div class="user-details col-lg-12 col-md-12 col-sm-12 col-xs-12">
		 <figure class="profile-img"><%= image_tag 'profile-img' %></figure>
		  <ul class="list1">
			 <li><%= @profile.name %></li>
			 <li><a href="#"><i class="fa fa-twitter"></i>&nbsp;<%= @profile.twitter_username %></a> </li>
			 <li><a href="/<%= @profile_user.username %>">mailman.com/<%= @profile_user.username %></a></li>
			</ul>
			<button class="md-trigger btn-primary" data-modal="modal-1"><i class="fa fa-envelope-o"></i> Start a conversation</button>
			<div class="md-modal md-effect-1" id="modal-1">
  <div class="popup-box">
	 <input name="email" type="email" placeholder="To: alice_alice" />
	 <input name="text" type="text" placeholder="To: alice_alice" />
	 <textarea name="textarea" placeholder="Type something  Alice Smith "></textarea>
	 <i class="fa fa-paperclip"></i>
	 <div class="btn-primary pull-right"><a href="#">Send</a></div>
   <a class="md-close fa fa-close"></a>
  </div>
</div>
<div class="clearfix"></div>
		  <ul class="list2">
			 <li><i class="fa fa-map-marker"></i><%= @profile.location %></li>
			 <li><i class="fa fa-briefcase"></i><%= @profile.work_title %></li>
			 <li><i class="fa fa-building-o"></i><%= @profile.work_company %></li>
			</ul>
			<p><%= @profile.bio %></p>
<div class="md-overlay"></div>
		<!--user-details-->
		</div>
	 <!--col-->
	 </div>
	 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	  <div class="row">
	  <div class="user-talkTo col-lg-12 col-md-12 col-sm-12 col-xs-12">
		 <span class="heading pull-left">Alice talked to:</span>
		 <div class="clearfix"></div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
  	  <div class="client-box col-lg-12 col-md-12 col-sm-12 col-xs-6">
			 <div class="client-lt pull-left">
		   <figure class="pull-left"><%= image_tag 'client-img' %></figure>
			 <div class="clearfix"></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
			 <div class="client-icon pull-left"><a href="#"><i class="fa fa-comment-o"></i></a></div></div>
			 <ul class="pull-right">
			  <li>Liza Burdenuk</li>
				<li>Scrum Master at RIT</li>
				<li><i class="fa fa-map-marker"></i> Kyiv, Ukraine</li>
				<li><i class="fa fa-twitter"></i> <a href="#">lizaburdenuk</a></li>
			 </ul>
			<!--client-box-->
			</div>
		 <!--col-->
		 </div>
		<!--user-talkTo-->
		</div>
		<!--row-->
		</div>
		<!--col-->
		</div>
	<!--row-->
	</div>
 <!--container-->
 </div>
<!--col-->
</div>
<!-- =========== -->
<!-- Footer Area -->
<!-- =========== -->
<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="container">
 <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sitemap">
		<ul>
		 <li><a href="#">About</a></li>
		 <li><a href="#">Security</a></li>
		 <li><a href="#">How it works</a></li>
		 <li><a href="#">Privacy Policy</a></li>
		 <li><a href="#">Questions</a></li>
		 <li><a href="#">Terms &amp; Services</a></li>
		</ul>
   <!--sitemap-->
   </div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 sitemap2">
		<ul>
		 <li><a href="#">Fresh Updates</a></li>
		 <li><a href="#"><i class="fa fa-twitter"></i> Follow@mailman</a></li>
		</ul>
   <!--sitemap-->
   </div>
  <!--row-->
  </div>
 <!--container-->
 </div>
<!--footer-->
</div>
