<% user = locals[:user] %>
<div class="ui small card">
    <div class="content">
        <img class="right floated mini ui image" src=<%= user.profile.avatar %>>
        <div class="header">
          <%= user.profile.name %>
        </div>
        <div class="meta">
            <%= user.profile.work_title %>
        </div>
        <div class="description">
          <%= user.profile.bio.truncate_words(5) %>
        </div>
    </div>
    <div class="extra content">
        <div class="ui basic green button">
            Talk for $<%= user.profile.rate %>
        </div>
    </div>
</div>
