<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-push-9 col-lg-2 col-lg-push-10">
      <div>
        <p>Balance: $<%=@user.account.balance.to_s%></p>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Withdraw</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3 col-lg-10 col-lg-pull-2">
      <div class="message-logs">
        <table class="table">
          <thead>
          <tr>
            <th>Subject</th>
            <th>Sender</th>
          </tr>
          </thead>
          <tbody>
            <% @user.emails.each do |e| %>
            <tr>
              <td>
                <a href="#<%=e.subject%>" data-toggle="collapse">
                  <%=e.subject%>
                </a>
                <div id="<%=e.subject%>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p><%=e.body.to_s%></p><br>
                  </div>
                  <button class="btn btn-default" data-toggle="modal" data-target="#emailComposeModal">Reply</button>
                </div>
              </td>
              <td><p><%=e.from%></p></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--<dialog class="mdl-dialog" role="dialog">
  <div class="mdl-dialog__content">

  <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>-->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>-->
<script>
/*
  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
  dialog.querySelector('.yes').addEventListener('click', function() {
    dialog.close();
  });
  */
</script>
