<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-push-9 col-lg-2 col-lg-push-10">
      <div>
        <p>Balance: $<%=@user.account.balance.to_s%></p>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Withdraw</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3 col-lg-10 col-lg-pull-2">
      <div class="message-logs">
        <table class="table">
          <thead>
          <tr>
            <th>Subject</th>
            <th>Sender</th>
          </tr>
          </thead>
          <tbody>
            <% @user.emails.each do |e| %>
            <tr>
              <td>
                <a href="#<%=e.subject%>" data-toggle="collapse">
                  <%=e.subject%>
                </a>
                <div id="<%=e.subject%>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p><%=e.body.to_s%></p><br>
                  </div>
                  <button class="btn btn-default" data-toggle="modal" data-target="#emailComposeModal">Reply</button>
                </div>
              </td>
              <td><p><%=e.from%></p></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--<dialog class="mdl-dialog" role="dialog">
  <div class="mdl-dialog__content">

  <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>-->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
       
          <%= form_tag "payment_transfer" , method: 'post',remote: true do |f|%>

        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
              <button type="submit" class="mdl-button yes">Transfer</button>
        <% end%>
      </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<!-- Email Compose Modal -->
<div class="modal fade" id="emailComposeModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="emailModalLabel">Write an Email</h4>
        <p id="notif2"></p>
      </div>
      <div class="mdal-body">
        
        <%= form_tag '/send_email_profile', method: :post,remote: 'true', class: "form" do %>
        <%= text_field_tag(
              :subject,
              params[:subject],
              placeholder: "Subject",
              class: "fom-control"
          ) %>
        <%= text_area_tag(
              :message,
              params[:message],
              placeholder: "Message",
              class: "form-control"
          ) %>
        <%= hidden_field_tag :username,@user.username %>
        <%=submit_tag "Send" , class:"btn btn-default" %>
        <% end %>
      </div>
    <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div> -->
    </div>
  </div>
</div>
<!--END Email Compose Modal -->
<script>
/*
  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
  dialog.querySelector('.yes').addEventListener('click', function() {
    dialog.close();
  });
  */
</script>
