<div class="container profile-container">
  <div class="row">
    <div class="col-md-4 user-profile-col">
      <div class="user-profile">
        <div class="user-picture">
        </div>
        <div class="user-name">
          <p>
            <%=@user.profile.first_name+" "+@user.profile.last_name%>
          </p>
        </div>
        <div class="user-biography">
          <p>
            <%if(@user.profile.about.nil?)%>
            <%="Edit info about you."%>
            <%else%>
            <%=@user.profile.about %>
            <%end%>
          </p>
        </div>
        <div class="user-location">
          <p>
            <%=@user.profile.location%>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="user-contact-info">
          <div class="user-profile-link">
            <h2>
              blackmail.io/<%=@cred.username%>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="user-action-button user-email-button">
              <p>
                <i class="fa fa-envelope fa-5x"></i>
                <br>
                <span class="action">Send an email</span><br>
                <span class="price">$10</span>
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-action-button user-text-button">
              <i class="fa fa-mobile fa-5x"></i>
              <br>
              <span class="action">Send a text</span><br>
              <span class="price">$10</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="user-action-button user-call-button">
              <i class="fa fa-phone fa-5x"></i>
              <br>
              <span class="action">Schedule a call</span><br>
              <span class="price">$10</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="donate-statement"><h3>Amin Shah donates all proceeds to&#58;</h3></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
