<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="settings-notice">
        <p>
          Feel free to publish:
          <strong><%=@user.username%>@themailman.io</strong>
          as your contact email everywhere!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="settings-profile">
        <h2 class="section-heading" style="margin-left:-40%;">Balance $<%= @user.account.balance %></h2><br><br>
                <div class="Add balance" >
          <script src="https://checkout.stripe.com/checkout.js"></script>

          <%[5,10,20,50].map{|x| x*100}.each do |amount|%>

          <button id="btn-payment-<%= amount %>" style="width:150px" class="btn btn-default">Add
            <%= amount / 100 %></button><br><br>
            <% end %>
        </div>
        <script type="text/javascript">
          var thisUser =  {
            id: "<%= @user.id %>",
            email: "<%= @user.email %>"
        };
          var stripeKey = "<%= Rails.configuration.stripe[:publishable_key] %>"
        </script>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="settings-notification">
        <h2 class="section-heading">Notifications</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="settings-email">
              <h3>Email</h3>
              <div id="form">
                <%= form_tag 'add_email' ,:method=>'post'  do |f| %>
                <%= hidden_field_tag :id,@id %>
                <label for="reward">Reward Amount</label><br>
                <%= label_tag "$"+@user.reward.email.to_s%><br>
                <label for="email">Email</label><br>
                <%= email_field_tag "email",'', :id=>"email",:required => 'true'  %><br>
                <label for="phone">Emails</label><br>
                <%= submit_tag "Add", class: 'btn btn-default'%>
                <% end %>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Email</th>
                    <th>Verified</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody id="tble_emails">
                    <%@user.user_emails.each do |e| %>
                      <tr><%= form_tag 'delete_emails',:method => 'post' do |f| %> <td><%=e.address%></td> <td>No </td><td><%=hidden_field_tag "id",e.id.to_s %><%=  submit_tag "delete" %> </td> <%end%> </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="settings-phone">
              <h3>Phone</h3>
              <div id="form">
                <%= form_tag '/add_phones' ,:method=>'post'  do |f| %>
                <%= hidden_field_tag :id, :value => @id %>
                <label for="reward">Reward Amount</label><br>
                <%= label_tag "$"+@user.reward.sms.to_s%><br>
                <%= label_tag "Phone"%><br>
                <input type="text" value="" name="phone">
                <label for="phone">Phone Numbers</label><br>
                <%= submit_tag "Add", class: 'btn btn-default'%>
                <% end %>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Phone</th>
                    <th>Verified</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody >
                    <%@user.phones.each do |e| %>
                        <tr><%= form_tag 'delete_phones',:method => 'post' do |f| %> <td><%=e.number%></td> <td>No </td><td><%=hidden_field_tag "id",e.id.to_s %><%=  submit_tag "delete" %> </td> <%end%> </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="settings-proof">
        <h2 class="section-heading">Social Links</h2>
        <table class="table">
          <thead>
          <tr >
            <th>Service</th>
            <th>Verify</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td id="twit">
                Twitter.com
              </td>
              <td>
                <% if(@user.social_medium.twitter.to_s!="") %>
                <p>Verified</p>
                <% else %>
                <button class="btn btn-default" data-toggle="modal" data-target="#twitter_verify">Verify</button>
                <%end %>
              </td>
              <td>
                <% if(@user.social_medium.present?) %>
                <%= @user.social_medium.twitter.to_s%>
                <% end %>
              </td>
            </tr>
           <!--  <tr>
              <td>
                Facebook.com
              </td>
              <td>
                link
              </td>
              <td>
                No
              </td>
              <tr>
                <td>
                  LinkedIn.com
                </td>
                <td>
                  link
                </td>
                <td>
                  No
                </td>
              </tr>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="twitter_verify" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Verify Twitter</h4>
      </div>
      <div class="modal-body">
        <h3>First Step:</h3>
        <p>First Tweet a mention of us!!!</p>
                        <a href="https://twitter.com/intent/tweet?screen_name=waleedsulehria&text=I%20love%20Mailman" class="twitter-mention-button" data-related="waleedsulehria">Tweet to @waleedsulehria</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
      <h3>Second Step:</h3>
      <p>Enter your twitter screen name and press the verify button</p>
      <form action="/tweet">
        <input type="text" name="user" class="form-control" placeholder="waleedsulehria" style="width:250px;">
        <input type="submit" text="Verify" class="btn btn-success">
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('rewardModal').modal();
</script>
<div id="rewardModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Set Reward</h4>
      </div>
      <div class="modal-body">
        <form action="/set_reward" method="post" class="form-group">
            <label>Email</label><br>
            <input class="form-control" type="text" name="email">
            <label>SMS</label><br>
            <input class="form-control" type="text" name="sms"> 
            <input class="btn btn-success" type="submit" text="Set">
        </form>
      </div>
    </div>

  </div>
</div>