<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="settings-notice">
        <p>
          Feel free to publish:
          <strong><%=@user.username%>@themailman.io</strong>
          as your contact email everywhere!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="settings-profile">
        <h2 class="section-heading">Balance</h2>
        <p>
          Balance: $<%= @user.account.balance %>
        </p>
        <div class="Add balance">
          <script src="https://checkout.stripe.com/checkout.js"></script>

          <%[5,10,20,50].map{|x| x*100}.each do |amount|%>

          <button id="btn-payment-<%= amount %>">Add
            <%= amount / 100 %></button>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="settings-notification">
        <h2 class="section-heading">Notifications</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="settings-email">
              <h3>Email</h3>
              <div id="form">
                <%= form_for @user,:url => 'add_email' ,:method=>'post'  do |f| %>
                <%= f.hidden_field :id, :value => @id %>
                <label for="reward">Reward Amount</label><br>
                <%= f.number_field :reward, :id=>"reward", :value=>@user.reward.email, :required=>true, :step=>'0.0001' ,:disabled => true %><br>
                <label for="email">Email</label><br>
                <%= f.email_field :email,value: '', :id=>"email",:required => true  %><br>
                <%= f.submit "Add", class: 'btn btn-default'%>
                <% end %>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Email</th>
                    <th>Verified</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody id="tble_emails">
                    <%@user.user_emails.each do |e| %>
                      <tr><%= form_tag 'delete_emails',:method => 'post' do |f| %> <td><%=e.address%></td> <td>No </td><td><%=hidden_field_tag "id",e.id.to_s %><%=  submit_tag "delete" %> </td> <%end%> </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="settings-phone">
              <h3>Phone</h3>
              <div id="form">
                <%= form_tag '/add_phones' ,:method=>'post'  do |f| %>
                <%= hidden_field_tag :id, :value => @id %>
                <label for="reward">Reward Amount</label><br>
                <%= number_field_tag :reward, :id=>"reward", :value=>@user.reward.sms, :required=>true, :step=>'0.0001' ,:disabled => true %><br>
                <%= label_tag "Phone"%><br>
                <input type="text" value="" name="phone">
                <label for="phone">Phone Numbers</label><br>
                <%= submit_tag "Add", class: 'btn btn-default'%>
                <% end %>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Phone</th>
                    <th>Verified</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody >
                    <%@user.phones.each do |e| %>
                        <tr><%= form_tag 'delete_phones',:method => 'post' do |f| %> <td><%=e.number%></td> <td>No </td><td><%=hidden_field_tag "id",e.id.to_s %><%=  submit_tag "delete" %> </td> <%end%> </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="settings-proof">
        <h2 class="section-heading">Social Links</h2>
        <table class="table">
          <thead>
          <tr>
            <th>Service</th>
            <th>Verify</th>
            <th>Verified</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Twitter.com
              </td>
              <td>
                link
              </td>
              <td>
                No
              </td>
            </tr>
            <tr>
              <td>
                Facebook.com
              </td>
              <td>
                link
              </td>
              <td>
                No
              </td>
              <tr>
                <td>
                  LinkedIn.com
                </td>
                <td>
                  link
                </td>
                <td>
                  No
                </td>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
