<div class="upper_nav" style="margin-left: 90%;">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
    <li class="mdl-menu__item"><%= link_to "Whitelist",'whitelist',"data-no-turbolink" => true %></li>
    <li class="mdl-menu__item"><%= link_to "Settings",'settings',"data-no-turbolink" => true %></li>
    <li disabled class="mdl-menu__item"><%= link_to "Transaction",'transactions',"data-no-turbolink" => true %></li>
    <li class="mdl-menu__item"><%= link_to "Logout",'logout',"data-no-turbolink" => true %></li>
  </ul>
  <!-- <a id="white" href="whitelist">White List</a>
  <a id="sett" href="settings">Settings</a>
  <a id="trans" href="transactions">Transactions</a>
  <a id="logout" href="logout">Logout</a> -->
</div>
<div id="form">
<%= form_for @user,:url => 'update_user' ,:method=>'post',remote:true  do |f| %>
    <%= f.hidden_field :id, :value => @id %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email,:class=>'mdl-textfield__input',:id=>"inp1" ,:style=> 'width: 250px' ,:value => @user.email.to_s,:required=>true ,:disabled=>true %>
      <label class="mdl-textfield__label" for="sample4">Email</label>
      <span class="mdl-textfield__error">Its not an email</span>
    </div>
    </br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <%= f.text_field :name ,:class=>'mdl-textfield__input',:id=>"inp2" ,:style=> 'width: 250px' ,:value=>@user.BTC_address.to_s,:required=>true %>
       <label class="mdl-textfield__label" for="sample4">BTC Address</label>
       <span class="mdl-textfield__error">jksdfhdkjsahfkja</span>
    </div>
      </br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.number_field :reward ,:class=>'mdl-textfield__input' ,:id=>"inp3" ,:style=> 'width: 250px' ,:value=>@user.reward,:required=>true,:step=>'0.0001' %>

        <label class="mdl-textfield__label" for="sample4">Reward Amount</label>

        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
        <br>
    <%= f.submit "Change", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ,:style=> 'margin-left: 175px;background-color: #D9453C;' %>
<% end %>
</div>
<!--
<div id="form">
  <form role="form" class="form-inline" method="post" <%= link_to 'test', :action => :delete_list , remote: true do %>
    <div class="form-group">
      <label class="sr-only" for="pwd">Username:</label>
      <input disabled="true" name="email" id="inp1" style="width: 250%" type="text" class="form-control" id="pwd" placeholder="Username" value="<%= @mail %>">
    </div></br>
    <div class="form-group">
      <label class="sr-only" for="pwd">Bitcoin address:</label>
      <input disabled="true" name="btc" id="inp2" style="width: 250%" type="text" class="form-control" id="pwd" placeholder="Bitcoin address">
    </div></br>
    <div class="form-group">
      <label class="sr-only" for="pwd">Bitcoin address:</label>
      <input disabled="true" id="inp3" style="width: 250%" type="number" class="form-control" id="pwd" placeholder="Reward Amount e.g 0.02">
    </div></br>
        <input id="btn_form" type="submit" class="btn btn-default">
    <% end %>
  </form>
</div> -->