<img src="/images/mailman-logo.png" width="70" style="float: left;margin-left: 5%;" >
<div class="upper_nav" style="margin-left: 63%;">
  <div >
    <%= link_to "Settings",'settings',"data-no-turbolink" => true ,:id => 'settings',:style => 'font-family: "Champagne & Limousines";font-size: 25px;margin-left: 20px;' %>
    <%= link_to "Whitelist",'whitelist',"data-no-turbolink" => true,:id => 'whitelist' ,:style => 'font-family: "Champagne & Limousines";font-size: 25px;margin-left: 20px;'%>
    <%= link_to "Transaction",'transactions',"data-no-turbolink" => true ,:id => 'transactions',:style => 'font-family: "Champagne & Limousines";font-size: 25px;margin-left: 20px;' %>
    <%= link_to "Logout",'logout',"data-no-turbolink" => true ,:style => 'font-family: "Champagne & Limousines";font-size: 25px;margin-left: 20px;color:#D9453C;' %>
  </div>
  <div class="mdl-tooltip" for="whitelist">
    This is the list<br>where you will add your family,friends etc<br> who you do not want to pay
  </div>
  <div class="mdl-tooltip" for="settings">
    Here you will<br>manage your email,BTC address<br> and the reward amount
  </div>
  <div class="mdl-tooltip" for="transactions">
    This is where you<br>can see all the transactions<br> and transfer of funds to your address
  </div>
  <!-- <a id="white" href="whitelist">White List</a>
  <a id="sett" href="settings">Settings</a>
  <a id="trans" href="transactions">Transactions</a>
  <a id="logout" href="logout">Logout</a> -->
</div>
<div style="margin-left: 75%;margin-top: 5%;">
  <h4 style="font-family: 'Champagne & Limousines'">Earned : <%=@user.wallet_amount.to_f%> BTC</h4>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored show-modal" data-toggle="modal" data-target="#myModal">Withdraw</button>
</div>
<div class="tble_trans" style='width: 50%;margin-left: 35%;margin-top: 10%;'>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Time</th>
      <th>Sender</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
   <% @user.transactions.all.each do |t|%>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%=t.updated_at%></td>
      <td><%=t.from%></td>
      <td><%=t.status%></td>
    </tr>
    <% end%>
    </tbody>
  </table>
</div>
<!--<dialog class="mdl-dialog" role="dialog">
  <div class="mdl-dialog__content">

  <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog>-->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to transfer <h3><%=@user.wallet_amount%> BTC</h3> to your address<br>
        <p><%=@user.BTC_address%></p>
        <p>
          <%= form_tag "payment_transfer" , method: 'post',remote: true do |f|%>

            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
              <button type="submit" class="mdl-button yes">Transfer</button>
        <% end%>
      </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>


<script>
/*
  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
  dialog.querySelector('.yes').addEventListener('click', function() {
    dialog.close();
  });
  */
</script>
