<div class="upper_nav" style="margin-left: 90%;">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
    <li class="mdl-menu__item"><%= link_to "Whitelist",'whitelist',"data-no-turbolink" => true %></li>
    <li class="mdl-menu__item"><%= link_to "Settings",'settings',"data-no-turbolink" => true %></li>
    <li class="mdl-menu__item"><%= link_to "Transaction",'transactions',"data-no-turbolink" => true %></li>
    <li class="mdl-menu__item"><%= link_to "Logout",'logout',"data-no-turbolink" => true %></li>
  </ul>
  <!-- <a id="white" href="whitelist">White List</a>
  <a id="sett" href="settings">Settings</a>
  <a id="trans" href="transactions">Transactions</a>
  <a id="logout" href="logout">Logout</a> -->
</div>
<div class="tble_trans">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Time</th>
      <th>Sender</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
   <% @user.transactions.all.each do |t|%>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%=t.updated_at%></td>
      <td><%=t.from%></td>
      <td><%=t.status%></td>
    </tr>
    <% end%>
    </tbody>
  </table>
</div>