<!-- =========== -->
<!-- Footer Area -->
<!-- =========== -->
<div class="container-fluid">
<div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-1 col-lg-offset-4 col-md-3 col-sm-6 col-xs-12 sitemap">
				<ul>
					<li>
            <%= link_to 'About', about_page_path %>
					</li>
					<li>
            <%= link_to 'Privacy', privacy_page_path %>
					</li>
          <li>
            <%= link_to 'Terms', terms_page_path %>
					</li>
				</ul>
				<!--sitemap-->
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 social">
				<ul>
					<li>
						Follow us
					</li>
					<li>
							<i class="fa fa-twitter"></i>
							<%= link_to 'MailpennyHQ', 'https://twitter.com/MailpennyHQ' %>
					</li>
					<li>
							<i class="fa fa-angellist"></i>
							<%= link_to 'Mailpenny', 'https://angel.co/mailpenny' %>
					</li>

				</ul>
				<!--social-->
			</div>
			<!--row-->
		</div>
		<!--container-->
	</div>
	<!--footer-->
</div>
