<!-- =========== -->
<!-- Footer Area -->
<!-- =========== -->
<div class="ui inverted segment">
	<div class="ui container">
		<div class="ui black three column stackable centered grid">
			<div class="column">
				<ul>
					<li>
						<%= link_to 'About', about_page_path %>
					</li>
					<li>
						<%= link_to 'Privacy', privacy_page_path %>
					</li>
					<li>
						<%= link_to 'Terms', terms_page_path %>
					</li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li>
						We're Social
					</li>
					<li>
						<i class="twitter icon"></i>
						<%= link_to 'MailpennyHQ', 'https://twitter.com/MailpennyHQ' %>
					</li>
					<li>
						<i class="angellist icon"></i>
						<%= link_to 'Mailpenny', 'https://angel.co/mailpenny' %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
