<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav nav-pills nav-stacked">
    <li role="presentation" class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'profile' %>">
      <%= link_to 'Profile', profile_path %>
    </li>
    <li role="presentation" class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'account' %>">
      <%= link_to 'Account', account_path %>
    </li>
    <li role="presentation" class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'messages' %>">
      <%= link_to 'Messages', messages_path %>
    </li>
    <li role="presentation" class="<%= 'active' if params[:controller] == 'dashboard' && params[:action] == 'billing' %>">
      <%= link_to 'Billing', billing_path %>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
