<!DOCTYPE html>
<html>
    <head>
        <title>Mailpenny</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <%= csrf_meta_tags %>
        <%= yield :meta_data %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= render 'favicon' %>

    </head>

    <body>

        <%= render 'header' %>
        <%= render 'flash_messages'%>
        <%= yield :body %>
        <%= render 'footer' %>
        <% if user_signed_in? %>
        <!-- begin user information -->
        <%= tag("div", class: 'hidden-user-information', data: {
          intercom_app_id: 'qvnmie0g',
          user_id: current_user.id,
          user_name: current_user.profile.name,
          user_email: current_user.email,
          user_created_at: current_user.created_at.to_i
          })  %>
        <!-- end user information -->
        <% end %>
        <%= javascript_include_tag 'application' %>
    </body>
</html>
