<!DOCTYPE html>
<html>
    <head>
        <title>Mailpenny</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <%= csrf_meta_tags %>
        <%= yield :meta_data %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= render 'favicon' %>

    </head>

    <body>

        <%= render 'header' %>
        <%= render 'flash_messages'%>
        <%= yield :body %>
        <%= render 'footer' %>
        <%= javascript_include_tag 'application' %>
        <%= render 'intercom' %>
        <% if Rails.env.development? %>
          <%= link_to 'Console', '?console=1' %>
          <%= console if params[:console] == '1'%>
        <% end %>
    </body>
</html>
