<h1>Get Started Absolutely FREE<span>NO CREDIT CARD NEEDED</span>
</h1>
<div class="white-box getstarted-box">
	<div class="loginbox pull-left col-xs-12">
		<a href="#" class="pull-left">Login</a>
		<a href="#" class="pull-right">Create
			<br>your Account</a>
	</div>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

	<%= f.label :username %>
	<%= f.text_field :username, autofocus: true %>

	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password, autocomplete: "off" %>
		<!-- <%  if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br /> -->
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, autocomplete: "off" %>
	</div>
	<%= f.submit "Sign Up", class: 'red-bg btn btn-primary btn1' %>
	<% end %>
	<p>By signing up you agree to our<br>
		<%= link_to "Terms of Service", "#"%>
		and
		<%= link_to "Privacy Policy", "#" %></p>
	<%= render "users/shared/links" %>
	<!--white-box-->
</div>
